.a-teacher-teacherexam{
    display: flex;
    flex-flow: column;
    gap: 24px;
  }
  
  .a-teacher-teacherexam-table{
    padding: 24px;
    background: #FFF 0% 0% no-repeat padding-box;
    border: 1px solid #DAE0E2;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    gap: 16px;
  }
  
  .a-teacher-teacherexam-table .MuiButton-containedPrimary{
    width: 170px;
  }
  