.a-infobox{
  padding: 24px;
  background: #FFF 0% 0% no-repeat padding-box;
  border: 1px solid #DAE0E2;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.a-infobox-info{
  display: flex;
  flex-flow: row;
  gap: 16px;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  color: #323E4D;
}

.a-infobox-info-title{
  min-width: 42px;
  font-weight: bold;
}
