.a-radioboxgroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.a-radioboxgroup img{
  width: 60%;
  /* height: 32px; */
}

.a-radioboxgroup .MuiFormGroup-root.MuiFormGroup-row{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
