.a-radioboxgroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.a-radioboxgroup img{
  display: flex;
  justify-content: center;
}

.a-radioboxgroup .MuiFormGroup-root.MuiFormGroup-row{
  justify-content: space-between;
}
