.a-student-examtaking{
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.a-student-examtaking-container{
  display: flex;
  flex-flow: row;
  gap: 16px;
}

.a-examtaking-exam-container{
  width: 70%;
  /* min-width: fit-content; */
  padding: 24px;
  background: #FFF 0% 0% no-repeat padding-box;
  border: 1px solid #DAE0E2;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  color: #323E4D;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.a-exam-container-questionanswer{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-grow: 1;
}

.a-exam-container-questionanswer > div {
  /* max-width: min-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.a-exam-container-questionanswer > div > img{
  width: 100%;
}

.a-exam-container-questionnumber{
  width: 80px;
}

.a-examtaking-examlist-container{
  width: 30%;
  padding: 24px;
  background: #FFF 0% 0% no-repeat padding-box;
  border: 1px solid #DAE0E2;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  color: #323E4D;
  display: flex;
  flex-flow: column;
  gap: 16px
}

.a-examtaking-examlist-timer{
  display: flex;
  flex-flow: row;
  gap: 16px;
  font-weight: normal;
  font-size: 14px;
  color: #323E4D;
}
